<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<mapping resource="tb/domain/hibernate/Partner.hbm.xml" />
		<mapping resource="tb/domain/hibernate/PartnerSettings.hbm.xml" />
		<mapping resource="tb/domain/hibernate/AddressPoint.hbm.xml" />
		<mapping resource="tb/domain/hibernate/Requirement.hbm.xml" />
		<mapping resource="tb/domain/hibernate/Order.hbm.xml" />
		<mapping resource="tb/domain/hibernate/OrderProcessing.hbm.xml" />
		<mapping resource="tb/domain/hibernate/AssignRequest.hbm.xml" />
		<mapping resource="tb/domain/hibernate/OrderStatus.hbm.xml" />
		<mapping resource="tb/domain/hibernate/OrderCancel.hbm.xml" />
		<mapping resource="tb/domain/hibernate/Device.hbm.xml" />
		<mapping resource="tb/domain/hibernate/Offer.hbm.xml" />
		<mapping resource="tb/domain/hibernate/Feedback.hbm.xml" />
		<mapping resource="tb/domain/hibernate/MapArea.hbm.xml" />
		<mapping resource="tb/car/domain/Car.hbm.xml" />
 		<mapping resource="tb/car/domain/CarState.hbm.xml" />
 		<mapping resource="tb/car/domain/GeoData.hbm.xml" />
 		<mapping resource="tb/car/domain/LastGeoData.hbm.xml" />
 		<mapping resource="tb/admin/security/User.hbm.xml"/>
 		<mapping resource="tb/admin/security/Authority.hbm.xml"/>
 		<mapping resource="tb/domain/hibernate/Brand.hbm.xml" />
 		<mapping resource="tb/domain/hibernate/BrandService.hbm.xml" />
	</session-factory>
</hibernate-configuration>