;;; JDBC
jdbc.driverClassName=org.postgresql.Driver
jdbc.url=jdbc:postgresql://localhost:5432/btaxi
jdbc.username=btaxi
jdbc.password=btaxi
hibernate.dialect=org.hibernate.dialect.PostgreSQL82Dialect
hibernate.show_sql=true
hibernate.hbm2ddl.auto=update


;;; COMMON
offerorder.coordcoef=0.1
offerorder.deltaminutes=30
offerorder.speed=40
offerorder.cars.actual.geo.minutes=5
createorder.deltaminutes=20
; run synch cars and tariffs after application start in seconds
starter.runsynch.seconds=10


;;; SMS
sms.url=http://crm.podglonass.ru/smser/index.php?taxiid=TAXIID&act=add


;;; ORDER PROCESSING
processing.offer.expired.timeout = 3
processing.assign.expired.timeout = 6


;;; flightstats
flightstats.id = 7c0ad327
flightstats.key = 2de9943f0d4f06a14f960a7229fa8b42
flightstats.baseurl = https://api.flightstats.com/